@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
/* border: 1px solid red; */
}
nav img{
    height: 60px;
    margin-right: 30px;
}
nav{background-color:white;
    padding: 0px 50px;
    display: flex;
    align-items: center;

    color:black;
    
}
.nav-links{ 
    width: 60%;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
    
}
.primary-links{
    width: 80%;
    display: flex;
    align-items: center;
}
.primary-links li{margin-right: 20px;
   
}
.nav-links li{
    margin-right: 10px;
}
nav li:hover{
    border-bottom: 1px solid red;
    cursor: pointer;
}
.nav-icons{width:10%;
    justify-content: space-between;
    margin-left: 100px;


}

nav i{
    font-size: 24px;
    
}
.hero-section{height: 100vh;
    background-image: url(./hero.webp);
    background-size: cover;
    background-position: center;
}
.text-section{ height: 100%;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px;
}
.text-section p{
    font-size: 22px;
    margin-bottom: 20px;
    
}
.text-section h1{
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
}
.learn-btn{background-color: white;
    border: none;
    


}
.text-section button{
    height: 40px;
    width: 40%;
    margin: 5px;}
    
.subscribe-btn{
   
    background: none;
    color: white;
    border: 1px solid white;


}  
.launch-date{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    
}
.trending-product .text-section{
    color: black;
    padding: 50px;
    width: 40%;
}
.trending-product{
    display: flex;
    height: 90vh;
    padding: 50px;
}
.buy-btn{
    background-color: black;
    color: white;
}
.trending-product .learn-btn{
    border: 1px solid black;
    background: none;
}


.trending-product .image-section{
    height: 100%;
    width: 60%;
    background-image: url(./trending.webp);
    background-size: cover;
    
}
.info-section{ 

    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.tv-section{
    
    padding: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-image img{
    height: 300px;
    
}
.info-section h1{ font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
.info-section h3{font-weight: 300;

}
.info-section p{
    margin-bottom: 20px;
}
.info-tv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    width: 1200px;
    padding: 20px;
    min-height: 350px;

}

.tv-btn button{  margin-top: 10px;
    height: 40px;
    width: 120px;
    margin-right: 5px;
    border: 1px solid black;

}
.hot-product{
    
    padding: 50px;
}
.categories{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.hot-product h3{
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid  rgba(143, 143, 143 , 0.3)
}
.categories li{
    margin: 20px 20px 20px 0px ;
}
.categories li:first-child{
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.product-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-cart{width: 250px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.product-thumb img{
    height: 250px;
    transition: all ease-in-out 0.3s;
}
.product-cart h1{font-weight: 500;
    margin-top: 10px;

}
.discount{
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    
}
.cart-btn{ 

    margin-top: 20px;
    height: 40px;
     width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    transition: all ease-in-out 0.3s;
}
.cart-btn:hover{
    background-color: black;
    color: white;
    border-radius: 2px;
}
.product-thumb{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-thumb img:hover{
    transform: scale(120%);
}
.product-image img{
    transition: all ease-in-out 0.3s;
}
.product-image img:hover{
    transform: scale(120%);
}
.features-image img{
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
    width: 65%;
height: 85vh;

}



.features-section{
     width: 100%;
    padding: 50px;
    background-color: black;
    color: white;
}
.features-section p{
    font-size: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
    padding: 10px;
    
}
.features-section h1{
    font-size: 50px;
    font-weight: 300;
}
.view-product{ 
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.view-product a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: 14px;
}
.blog-section{background-color: black;
    min-height: 120vh;
    padding: 50px;
    color: #f8f8f8;
   }

 .blog-description{
    margin-top: 40px;
    font-size: 48px;
    font-weight: 300;
    
   }
   .blog-description span{
    color: red;
   }
.blog-details{
    display: flex;
    align-items: center;
     justify-content: space-between;
     padding-top: 20px;
     flex-wrap: wrap;
}

.blog-image{
    background-image: url(./pc_4.jpg.thumb.webp);
    height: 500px;
    width: 60%;
    background-position: center;
    background-size: cover;
}
.blog-text{
    margin-top: 20px;
    padding-left: 20px;
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.blog-text h1{
   
    font-size: 44px;
    font-weight: 400;
    
}
.blog-text p{
     font-size: 16px;
    margin-bottom: 20px;
}
.blog-text a{
    text-decoration: none;
    color: #f8f8f8;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(142, 142, 142 , 0.5);
    
    
}
.blog-title{
    font-weight: 400;
    border-bottom: 1px solid rgba(142, 142, 142 , 0.5);
    padding-bottom: 10px;
}

#blog_two{
    background-image: url(./blog-2\ image.webp);
}
#blog_three{
    background-image: url(./republic\ day.webp);
    transition: all ease-in-out 0.3s;
}
#blog_three:hover{
    transform: scale(90%);
}

.oxyzen-image img{
    height: 373px;
    width: 250px;
    transition: all ease-in-out 0.3s;
}
.oxyzen-image img:hover{
    transform: scale(120%);
}
.oxyzen-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.oxyzen-section{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #f8f8f8;
   
    
}

.oxyzen-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 30px;
    
    }


    .ogyzen-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 280px;
        height:373px;
        
        background-color:  rgb(44, 42, 42);
        padding: 15px;
        
    }
    .ogyzen-text h3{
        color: #ffffff4c;
        font-weight: 400;
        font-size: 24px;
        }
     .ogyzen-text h1{
            font-weight: 350;
            font-size: 30px;
        }
        .ogyzen-text p{
            font-weight: 350;
            
        }
    .oxyzen-os p{
        margin-bottom: 20px;
    }
    .oxyzen-os a{
        color: #f8f8f8;
        padding-bottom: 5px;
        text-decoration: none;
        border-bottom: 1px solid white;
    }
    #red_club{
        background-image: url(./RED\ CABLE\ CLUB.webp);
    }
    #power-community{
        background-image: url(./power\ of\ community.webp);
    
    }
    .power-section{
             background-color: white;
            min-height: 120vh;
            padding: 50px;
            color: black;
           
    }
   .power-link{
    color: black;
   }

    .power-text{ 
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        border-bottom: 1px solid rgba(142, 142, 142 , 0.5);
        padding-bottom: 10px;

    }
     .blog-titleone{
        font-weight: 400;
     }
     .blog-titletwo{
        font-weight: 400;
        font-size: 15px;
     }
     .blog-sectiontwo{
        height: 120vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50PX;
        flex-wrap: wrap;
     }
     .blog-imagetwo{height: 120vh;

     }
     .blog-imagetwo img{
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 300px;
     }
     .blog-imagetwo h2{
        font-weight: 400;
        margin-top: 35px;
     }
     .blog-imagetwo p{
        margin-top: 40px;
        font-weight: 300;
        font-size: 15px;
     }
     .blog-imagetwo a{ text-decoration: none;
        color: black;
        margin-top: 30px;
        border-bottom: 1px solid black;

     }
     .support-section{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color: #f8f8f8;
     }
   .support-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 280px;
    height:373px;
    background-color: #f8f8f8;
    padding: 15px;
    color: black;
    
   }
   .support-text h3{color: #00000066;
    font-weight: 300;
    font-size: 21px;
   }
   .support-text h1{
    font-weight: 350;
    font-size: 30px;
    
   }
   .support-os a{
    color: black;
        padding-bottom: 5px;
        text-decoration: none;
        border-bottom: 1px solid black;
   }
   .support-os p{
    margin-bottom: 20px;
   }
   .last-section{ height: 80vh;
background-color: black;
color: white;
padding: 50px;}

.lastsection-text h3{ font-weight: 300;
    padding-bottom: 10px;  
      border-bottom: 1px solid rgba(142, 142, 142 , 0.5);
}

.lastsection-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


.lastsection-imageone img{
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 530px;

}
.lastsection-imagetwo img{
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 530px;

}
.lastsection-imageone{
    position: relative;
}
.imageone-text{
    position: absolute;
    left: 15px;
    top: 15px;
    
}
.imageone-text h1{
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 15px;
}
.imageone-text p{
    font-weight: 250;
    font-size: 15px;
}

.imageone-btn{
    position: absolute;
    left: 15px;
    bottom: 15px;
    
}
.imageone-btn button{
    background: none;
    border: 1px solid  rgba(142, 142, 142 , 0.5);
    color: white;
    width: 270px;
    height: 50px;
}
.lastsection-imagetwo{
    position: relative;
}
.imagetwo-text{
    position: absolute;
    left: 15px;
    top: 15px;
}
.imagetwo-btn{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

  .imagetwo-btn button{background: none;
    border: 1px solid  rgba(142, 142, 142 , 0.5);
    color: white;
    width: 270px;
    height: 50px;

  }
  .imagetwo-text h1{
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 15px;
}
.imagetwo-text p{
    font-weight: 250;
    font-size: 15px;
}
.imagetwo-btn p{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 15px;
    color:  hsla(0,0%,100%,.55);
    
    
}
    


@media(max-width : 980px){

    .nav-links{
        display: none;
    }

    .primary-links{
       justify-content: center;
    }

    .nav-icons{
        display: none;
    }

    /* nav img{
        margin-right: ;
    } */

    .res-icons{
        display: block;
    }

    .text-section{
        width: 100%;
    }

    .trending-product .image-section{
        display: none;
    }

    .trending-product .text-section{
        width: 100%;
    }

    .trending-img{
        display: block;
    }

    .trending-product{
        padding: 20px;
    }

    .tv-section{
        padding: 20px;
    }

    .tv-card{
        flex-direction: column-reverse;

    }

    .info-section{
        width: 100%;
    }

    .product-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-container{
        justify-content: center;
    }
   .blog-image{
    width: 100%;
   }
   .blog-text{
    margin-bottom: 20px;
    padding: 0;
    height: 100px;
    width: 100%;
}
.oxyzen-image{
    width: 100%;
 
    
}
.oxyzen-section{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    
}
}



